body {
  font-family: 'Roboto', sans-serif; /* Modern font */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-card {
  width: 80%;
  margin: 20px 0;
  border-radius: 16px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.profile-card-two {
  width: 100%;
  margin: 20px 0;
  border-radius: 16px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.profile-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.profile-avatar {
  background-image: url('https://media.licdn.com/dms/image/D5603AQE3s9kqPTToRQ/profile-displayphoto-shrink_800_800/0/1711751348767?e=1728518400&v=beta&t=IcCpBNHM1cl80cadh581MHCJ9wC2mQjke2ZUUBpBFcw');
  background-size: cover;
  border-radius: 50%;
  width: 250px; /* Larger profile picture */
  height: 250px; /* Larger profile picture */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for profile picture */
  margin-bottom: 16px; /* Space below the profile picture */
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-style: italic;
}

.quote mat-icon {
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

mat-icon, fa-icon {
  margin-left: 10px;
}

mat-card-header mat-icon, mat-card-header fa-icon {
  margin-right: 8px;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text mat-icon, .icon-text fa-icon {
  margin-right: 8px;
}

.skills-section {
  margin-bottom: 20px;
}

.skills-heading {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-item p {
  font-size: 1em; /* Smaller font size for subtopics */
}

.name {
  font-size: 2em; /* Larger font size for the name */
  font-weight: bold;
  margin-bottom: 8px; /* Space below the name */
}

.role {
  font-size: 1.5em; /* Adjust the font size of the role */
  margin-bottom: 8px; /* Space below the role */
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-info .icon-text {
  margin-bottom: 16px; /* Space between contact info items */
}

.about-card {
  padding: 20px;
}

.education-card, .experience-card {
  width: 100%;
}

.profile-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 20px; /* Added gap to balance columns */
}

.column {
  display: flex;
  flex-direction: column;
}

.column:first-child {
  width: 70%; /* Increased width for the first column */
}

.column:last-child {
  width: 30%; /* Reduced width for the second column */
}

.about-content {
  padding: 20px; /* Added padding for the About section */
}

.project-fieldset {
  margin-bottom: 20px; /* Add gap between each fieldset */
}

h3 {
  margin: 0;
  font-size: 1.2em;
}

h4 {
  margin: 0;
  font-size: 1.1em;
  margin-top: 10px;
}

p {
  margin: 0.5em 0;
}

ul {
  padding-left: 20px;
}

mat-list-item:hover {
  border-radius: 4px;
}

mat-divider {
  margin-bottom: 15px; /* Adjust this value as needed for the desired space */
}

.p-chip {
  font-size: 0.85em; /* Adjust font size for the chips to match other text */
}
.flex {
  display: flex;
  align-items: center; /* Vertically centers items within the flex container */
}

.flex .font-bold {
  line-height: 1; /* Ensures that the text height is consistent */
  margin-top: 0; /* Removes any default margin */
  margin-bottom: 0; /* Removes any default margin */
}

p-avatar {
  margin-right: 10px; /* Add space between avatar and text */
}
